.icon {
    max-width: 30px;
    opacity: .5;
}

.icon:hover {
    opacity: 1;
    transition: opacity .2s ease-in;
}

.icon-container {
    margin:  1vh 0 0 1vw;
    display: flex;
    justify-content: space-around;
}

.footer-title {
    color: white;
}

.footer-container {
    margin-top: 4vh;
    display: flex;
    justify-content: space-between;
    height: 20vh;
    width: 100vw;
    background-color: #535d63;
}

.copyright {
    color: white;
    margin: 5vh 3vw 0 0;
}

.footer-links {
    display: flex;
    margin: 0 2vw 0 2vw;
    flex-direction: column;
}

.footer-link {
    text-decoration: none;
    font-weight: normal;
    color: white;
    font-size: 15px;
}

.footer-link:hover {
    text-decoration: underline;
}

.footer-links h3 {
    width: 75px;
    margin-bottom: 1vh;
}

/* .footer-link {
    border: 1px solid red;
} */

@media only screen and (max-width: 550px) {
    .footer-links {
        display: none;
    }
}
