#logo {
  z-index: 2;
  margin: 4vh 0 0 2vw;
}

.the-top-head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12vh;
  height: 20vh;
}
#logo:hover {
  transform: scale(1.1);
  transition: transform 0.1s ease-in;
}

#logo-pic {
  height: 100%;
  width: auto;
}

@media only screen and (max-width: 650px) {
  .the-top-head {
    margin-bottom: 15vh;
  }
}

@media only screen and (max-width: 4250px) {
  #logo-pic {
    margin: 2vh 0 0 2vw;
  }
}
